# Momentum Trading

### The Strategy
- ##### Check the past 12 month performance of all index stocks
- ##### Buy the top performers and hold them for 1 month

### Accounting for Survivorship Bias
- #### Ensure that stocks are added / removed in line with historical data

## Imports

In [1]:
import yfinance as yf
import numpy as np
import pandas as pd
from datetime import datetime

## Load Data

In [2]:
wiki = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")
wiki

[    Symbol             Security             GICS Sector  \
 0      MMM                   3M             Industrials
 1      AOS          A. O. Smith             Industrials
 2      ABT  Abbott Laboratories             Health Care
 3     ABBV               AbbVie             Health Care
 4      ACN            Accenture  Information Technology
 ..     ...                  ...                     ...
 498    XYL           Xylem Inc.             Industrials
 499    YUM          Yum! Brands  Consumer Discretionary
 500   ZBRA   Zebra Technologies  Information Technology
 501    ZBH        Zimmer Biomet             Health Care
 502    ZTS               Zoetis             Health Care

                                 GICS Sub-Industry    Headquarters Location  \
 0                        Industrial Conglomerates    Saint Paul, Minnesota
 1                               Building Products     Milwaukee, Wisconsin
 2                           Health Care Equipment  North Chicago, Illinois
 3                                   Biotechnology  North Chicago, Illinois
 4                  IT Consulting & Other Services          Dublin, Ireland
 ..                                            ...                      ...
 498  Industrial Machinery & Supplies & Components   White Plains, New York
 499                                   Restaurants     Louisville, Kentucky
 500            Electronic Equipment & Instruments   Lincolnshire, Illinois
 501                         Health Care Equipment          Warsaw, Indiana
 502                               Pharmaceuticals   Parsippany, New Jersey

      Date added      CIK      Founded
 0    1957-03-04    66740         1902
 1    2017-07-26    91142         1916
 2    1957-03-04     1800         1888
 3    2012-12-31  1551152  2013 (1888)
 4    2011-07-06  1467373         1989
 ..          ...      ...          ...
 498  2011-11-01  1524472         2011
 499  1997-10-06  1041061         1997
 500  2019-12-23   877212         1969
 501  2001-08-07  1136869         1927
 502  2013-06-21  1555280         1952

 [503 rows x 8 columns],
                   Date  Added                                 Removed  \
                   Date Ticker                        Security  Ticker
 0    December 23, 2024    APO        Apollo Global Management    QRVO
 1    December 23, 2024   WDAY                   Workday, Inc.    AMTM
 2    December 23, 2024    LII            Lennox International    CTLT
 3    November 26, 2024    TPL  Texas Pacific Land Corporation     MRO
 4      October 1, 2024    NaN                             NaN    BBWI
 ..                 ...    ...                             ...     ...
 352       June 9, 1999    WLP                       Wellpoint     HPH
 353  December 11, 1998    FSR                         Firstar      AN
 354  December 11, 1998    CCL                  Carnival Corp.     GRN
 355  December 11, 1998   CPWR                       Compuware     SUN
 356      June 17, 1997    CCI   Countrywide Credit Industries     USL

                                \
                      Security
 0                       Qorvo
 1                     Amentum
 2                    Catalent
 3                Marathon Oil
 4     Bath & Body Works, Inc.
 ..                        ...
 352  Harnischfeger Industries
 353                     Amoco
 354                General Re
 355                SunAmerica
 356                    USLife

                                                 Reason
                                                 Reason
 0                     Market capitalization change.[4]
 1                     Market capitalization change.[4]
 2              Novo Holdings A/S acquired Catalent.[5]
 3    S&P 500 & 100 constituent ConocoPhillips acqui...
 4                     Market capitalization change.[7]
 ..                                                 ...
 352           Harnischfeger filed for bankruptcy.[255]
 353                           BP purchased Amoco.[256]
 354      Berkshire Hathaway purchased General Re.[256]
 355                     AIG purchased SunAmerica.[256]
 356                          AIG acquired USLife.[257]

 [357 rows x 6 columns]]

In [3]:
start = "2015-01-01"
end = datetime.today().strftime('%Y-%m-%d')
start, end

('2015-01-01', '2025-01-24')

In [4]:
overall = wiki[0]
overall.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [5]:
stocks = overall.Symbol.to_list()
stocks

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADBE',
 'AMD',
 'AES',
 'AFL',
 'A',
 'APD',
 'ABNB',
 'AKAM',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'APO',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BLDR',
 'BG',
 'BXP',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'COR',
 'CNC',
 'CNP',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CPAY',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CRWD',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHR',
 'DRI',
 'DVA',
 'DAY',
 'DECK',
 'DE',
 'DELL',
 'DAL',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DHI',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ERIE',
 'ESS',
 'EL',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FSLR',
 'FE',
 'FI',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GE',
 'GEHC',
 'GEV',
 'GEN',
 'GNRC',
 'GD',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GL',
 'GDDY',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'DOC',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JBL',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KKR',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LII',
 'LLY',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PLTR',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SW',
 'SNA',
 'SOLV',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SMCI',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TPL',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UBER',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VTRS',
 'VICI',
 'V',
 'VST',
 'VMC',
 'WRB',
 'GWW',
 'WAB',
 'WBA',
 'WMT',
 'DIS',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WY',
 'WMB',
 'WTW',
 'WDAY',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZTS']

In [6]:
overall = overall[overall['Date added'] >= start]
overall

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
6,AMD,Advanced Micro Devices,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488,1969
11,ABNB,Airbnb,Consumer Discretionary,"Hotels, Resorts & Cruise Lines","San Francisco, California",2023-09-18,1559720,2008
13,ALB,Albemarle Corporation,Materials,Specialty Chemicals,"Charlotte, North Carolina",2016-07-01,915913,1994
14,ARE,Alexandria Real Estate Equities,Real Estate,Office REITs,"Pasadena, California",2017-03-20,1035443,1994
...,...,...,...,...,...,...,...,...
484,WBD,Warner Bros. Discovery,Communication Services,Broadcasting,"New York City, New York",2022-04-11,1437107,2022 (Warner Bros. 1923)
490,WST,West Pharmaceutical Services,Health Care,Health Care Supplies,"Exton, Pennsylvania",2020-05-22,105770,1923
494,WTW,Willis Towers Watson,Financials,Insurance Brokers,"London, United Kingdom",2016-01-05,1140536,2016
495,WDAY,"Workday, Inc.",Information Technology,Application Software,"Pleasanton, California",2024-12-23,1327811,2005
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969

In [7]:
removed = wiki[1][['Date', 'Removed']]
removed

                  Date Removed
                  Date  Ticker                  Security
0    December 23, 2024    QRVO                     Qorvo
1    December 23, 2024    AMTM                   Amentum
2    December 23, 2024    CTLT                  Catalent
3    November 26, 2024     MRO              Marathon Oil
4      October 1, 2024    BBWI   Bath & Body Works, Inc.
..                 ...     ...                       ...
352       June 9, 1999     HPH  Harnischfeger Industries
353  December 11, 1998      AN                     Amoco
354  December 11, 1998     GRN                General Re
355  December 11, 1998     SUN                SunAmerica
356      June 17, 1997     USL                    USLife

[357 rows x 3 columns]

In [8]:
removed.set_index(pd.to_datetime(removed.Date.Date), inplace=True)
removed

                         Date Removed
                         Date  Ticker                  Security
Date
2024-12-23  December 23, 2024    QRVO                     Qorvo
2024-12-23  December 23, 2024    AMTM                   Amentum
2024-12-23  December 23, 2024    CTLT                  Catalent
2024-11-26  November 26, 2024     MRO              Marathon Oil
2024-10-01    October 1, 2024    BBWI   Bath & Body Works, Inc.
...                       ...     ...                       ...
1999-06-09       June 9, 1999     HPH  Harnischfeger Industries
1998-12-11  December 11, 1998      AN                     Amoco
1998-12-11  December 11, 1998     GRN                General Re
1998-12-11  December 11, 1998     SUN                SunAmerica
1997-06-17      June 17, 1997     USL                    USLife

[357 rows x 3 columns]

In [9]:
removed = removed[removed.index >= start]
removed

                         Date Removed
                         Date  Ticker                 Security
Date
2024-12-23  December 23, 2024    QRVO                    Qorvo
2024-12-23  December 23, 2024    AMTM                  Amentum
2024-12-23  December 23, 2024    CTLT                 Catalent
2024-11-26  November 26, 2024     MRO             Marathon Oil
2024-10-01    October 1, 2024    BBWI  Bath & Body Works, Inc.
...                       ...     ...                      ...
2015-03-23     March 23, 2015     AVP            Avon Products
2015-03-18     March 18, 2015     CFN               Carefusion
2015-03-12     March 12, 2015    PETM                 PetSmart
2015-01-27   January 27, 2015     SWY                  Safeway
2015-01-27   January 27, 2015     COV                 Covidien

[227 rows x 3 columns]

In [10]:
removed[removed.Removed.isna().any(axis=1)]

                          Date Removed
                          Date  Ticker Security
Date
2024-09-30  September 30, 2024     NaN      NaN
2024-04-02       April 2, 2024     NaN      NaN
2024-04-01       April 1, 2024     NaN      NaN
2023-10-02     October 2, 2023     NaN      NaN
2023-01-04     January 4, 2023     NaN      NaN
2022-12-15   December 15, 2022     NaN      NaN
2022-02-02    February 2, 2022     NaN      NaN
2021-06-03        June 3, 2021     NaN      NaN
2020-10-09     October 9, 2020     NaN      NaN
2020-04-03       April 3, 2020     NaN      NaN
2020-04-03       April 3, 2020     NaN      NaN
2016-12-19   December 19, 2016     NaN      NaN
2016-04-08       April 8, 2016     NaN      NaN
2015-09-18  September 18, 2015     NaN      NaN
2015-09-18  September 18, 2015     NaN      NaN
2015-09-18  September 18, 2015     NaN      NaN

In [11]:
removed = removed.Removed.dropna()
removed

           Ticker                 Security
Date
2024-12-23   QRVO                    Qorvo
2024-12-23   AMTM                  Amentum
2024-12-23   CTLT                 Catalent
2024-11-26    MRO             Marathon Oil
2024-10-01   BBWI  Bath & Body Works, Inc.
...           ...                      ...
2015-03-23    AVP            Avon Products
2015-03-18    CFN               Carefusion
2015-03-12   PETM                 PetSmart
2015-01-27    SWY                  Safeway
2015-01-27    COV                 Covidien

[211 rows x 2 columns]

In [12]:
stocks.extend(removed.Ticker.to_list())
len(stocks)

714

In [13]:
stocks

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADBE',
 'AMD',
 'AES',
 'AFL',
 'A',
 'APD',
 'ABNB',
 'AKAM',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'APO',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BLDR',
 'BG',
 'BXP',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'COR',
 'CNC',
 'CNP',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CPAY',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CRWD',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHR',
 'DRI',
 'DVA',
 'DAY',
 'DECK',
 'DE',
 'DELL',
 'DAL',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DHI',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ERIE',
 'ESS',
 'EL',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FSLR',
 'FE',
 'FI',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GE',
 'GEHC',
 'GEV',
 'GEN',
 'GNRC',
 'GD',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GL',
 'GDDY',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'DOC',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JBL',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KKR',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LII',
 'LLY',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PLTR',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SW',
 'SNA',
 'SOLV',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SMCI',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TPL',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UBER',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VTRS',
 'VICI',
 'V',
 'VST',
 'VMC',
 'WRB',
 'GWW',
 'WAB',
 'WBA',
 'WMT',
 'DIS',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WY',
 'WMB',
 'WTW',
 'WDAY',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZTS',
 'QRVO',
 'AMTM',
 'CTLT',
 'MRO',
 'BBWI',
 'AAL',
 'ETSY',
 'BIO',
 'RHI',
 'CMA',
 'ILMN',
 'PXD',
 'XRAY',
 'VFC',
 'WHR',
 'ZION',
 'SEE',
 'ALK',
 'SEDG',
 'OGN',
 'ATVI',
 'DXC',
 'LNC',
 'NWL',
 'AAP',
 'DISH',
 'FRC',
 'LUMN',
 'SBNY',
 'SIVB',
 'VNO',
 'ABMD',
 'FBHS',
 'MBC',
 'TWTR',
 'NLSN',
 'CTXS',
 'DRE',
 'PVH',
 'PENN',
 'UA',
 'UAA',
 'IPGP',
 'CERN',
 'PBCT',
 'INFO',
 'XLNX',
 'GPS',
 'LEG',
 'HBI',
 'WU',
 'KSU',
 'PRGO',
 'UNM',
 'NOV',
 'MXIM',
 'ALXN',
 'HFC',
 'FLIR',
 'VAR',
 'FLS',
 'SLG',
 'XRX',
 'VNT',
 'FTI',
 'CXO',
 'TIF',
 'AIV',
 'NBL',
 'ETFC',
 'HRB',
 'COTY',
 'KSS',
 'ADS',
 'HOG',
 'JWN',
 'HP',
 'CPRI',
 'AGN',
 'M',
 'RTN',
 'ARNC',
 'XEC',
 'WCG',
 'AMG',
 'TRIP',
 'MAC',
 'STI',
 'VIAB',
 'CELG',
 'NKTR',
 'JEF',
 'TSS',
 'APC',
 'FL',
 'RHT',
 'LLL',
 'BMS',
 'MAT',
 'DWDP',
 'FLR',
 'BHF',
 'GT',
 'NFX',
 'PCG',
 'SCG',
 'ESRX',
 'COL',
 'AET',
 'SRCL',
 'EQT',
 'CA',
 'EVHC',
 'ANDV',
 'XL',
 'GGP',
 'DPS',
 'TWX',
 'RRC',
 'AYI',
 'MON',
 'NAVI',
 'WYN',
 'CSRA',
 'SIG',
 'PDCO',
 'CHK',
 'SNI',
 'BCR',
 'LVLT',
 'SPLS',
 'DOW',
 'DD',
 'WFM',
 'AN',
 'RIG',
 'BBBY',
 'MUR',
 'MNK',
 'RAI',
 'YHOO',
 'TDC',
 'R',
 'MJN',
 'TGNA',
 'DNB',
 'SWN',
 'URBN',
 'FTR',
 'FSLR',
 'HAR',
 'LLTC',
 'ENDP',
 'PBI',
 'SE',
 'STJ',
 'OI',
 'LM',
 'AA',
 'DO',
 'HOT',
 'EMC',
 'TYC',
 'CPGX',
 'GAS',
 'TE',
 'CVC',
 'BXLT',
 'CCE',
 'ARG',
 'TWC',
 'SNDK',
 'ADT',
 'GME',
 'THC',
 'CAM',
 'POM',
 'ESV',
 'GMCR',
 'CNX',
 'PCL',
 'PCP',
 'BRCM',
 'ACE',
 'FOSL',
 'ALTR',
 'CMCSK',
 'CSC',
 'SIAL',
 'GNW',
 'HCBK',
 'JOY',
 'HSP',
 'PLL',
 'DTV',
 'NE',
 'FDO',
 'KRFT',
 'ATI',
 'TEG',
 'QEP',
 'LO',
 'WIN',
 'AGN',
 'DNR',
 'NBR',
 'AVP',
 'CFN',
 'PETM',
 'SWY',
 'COV']

In [17]:
df = yf.download(stocks, start=start, end=end)['Close']

[*********************100%***********************]  708 of 708 completed

91 Failed downloads:
['RAI', 'CMCSK', 'LO', 'WFM', 'FDO', 'CFN', 'TE', 'SNDK', 'LVLT', 'GGP', 'SWY', 'TWC', 'BCR', 'TYC', 'CAM', 'MJN', 'ARG', 'BRCM', 'JOY', 'GMCR', 'BF.B', 'KRFT', 'SPLS', 'BXLT', 'HCBK', 'WYN', 'SIAL', 'LLTC', 'HSP', 'STJ', 'DPS', 'CVC', 'CPGX']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 2015-01-01 -> 2025-01-24)')
['IRM']: JSONDecodeError('Expecting value: line 1 column 1 (char 0)')
['CHK', 'KSU', 'XLNX', 'VIAB', 'AVP', 'APC', 'DNR', 'FBHS', 'FRC', 'RHT', 'AGN', 'YHOO', 'FLIR', 'HFC', 'NBL', 'TSS', 'CXO', 'MXIM', 'TIF', 'SWN', 'ABMD', 'RTN', 'ESV', 'LLL', 'LM', 'MNK', 'CELG', 'QEP', 'VAR', 'PBCT', 'CERN', 'NLSN', 'WIN', 'ATVI', 'BRK.B', 'DWDP', 'BBBY', 'DRE', 'DISH', 'WCG', 'FTR', 'ALXN', 'ETFC', 'GPS', 'PXD', 'XL', 'TWTR', 'XEC', 'ENDP', 'ADS', 'DTV', 'CTXS', 'SIVB', 'ARNC', 'MON', 'DO']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')
['MRO']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 2015-01-01 -> 2025-01-24) (Yahoo error = "No data found, symbol may be delisted")')

In [18]:
df.head()

Ticker,A,AA,AAL,AAP,AAPL,ABBV,ABMD,ABNB,ABT,ACE,...,XOM,XRAY,XRX,XYL,YHOO,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,37.353016,36.027798,51.079914,141.844177,24.347172,43.156208,NaN,NaN,36.915024,NaN,...,60.042515,46.824909,19.897354,33.545528,NaN,43.035698,100.930534,77.430000,22.049475,40.157520
2015-01-05,36.653103,33.940548,51.051491,139.974518,23.661276,42.344040,NaN,NaN,36.923248,NaN,...,58.399658,46.500290,19.463232,31.457741,NaN,42.161312,104.695587,76.339996,21.223295,39.916454
2015-01-06,36.082127,34.190113,50.255589,139.876129,23.663504,42.134449,NaN,NaN,36.503933,NaN,...,58.089184,45.923210,19.202765,31.272741,NaN,41.643822,103.808113,75.790001,20.412716,39.527027
2015-01-07,36.561001,35.074921,50.227154,142.881836,23.995314,43.837399,NaN,NaN,36.799919,NaN,...,58.677773,47.113441,19.448759,31.519405,NaN,43.023808,106.389885,77.720001,20.607573,40.342976
2015-01-08,37.656921,36.073174,50.843044,144.134323,24.917269,44.295856,NaN,NaN,37.556309,NaN,...,59.654472,48.276615,19.984186,31.757254,NaN,43.773285,107.519386,79.379997,20.895945,40.964191

In [39]:
df.columns[df.isna().all()]

Index(['ABMD', 'ADS', 'AGN', 'ALXN', 'APC', 'ARG', 'ARNC', 'ATVI', 'AVP',
       'BBBY', 'BCR', 'BF.B', 'BRCM', 'BRK.B', 'BXLT', 'CAM', 'CELG', 'CERN',
       'CFN', 'CHK', 'CMCSK', 'CPGX', 'CTXS', 'CVC', 'CXO', 'DISH', 'DNR',
       'DO', 'DPS', 'DRE', 'DTV', 'DWDP', 'ENDP', 'ESV', 'ETFC', 'FBHS', 'FDO',
       'FLIR', 'FRC', 'FTR', 'GGP', 'GMCR', 'GPS', 'HCBK', 'HFC', 'HSP', 'IRM',
       'JOY', 'KRFT', 'KSU', 'LLL', 'LLTC', 'LM', 'LO', 'LVLT', 'MJN', 'MNK',
       'MON', 'MRO', 'MXIM', 'NBL', 'NLSN', 'PBCT', 'PXD', 'QEP', 'RAI', 'RHT',
       'RTN', 'SIAL', 'SIVB', 'SNDK', 'SPLS', 'STJ', 'SWN', 'SWY', 'TE', 'TIF',
       'TSS', 'TWC', 'TWTR', 'TYC', 'VAR', 'VIAB', 'WCG', 'WFM', 'WIN', 'WYN',
       'XEC', 'XL', 'XLNX', 'YHOO'],
      dtype='object', name='Ticker')

In [47]:
removed[removed.Ticker == 'QRVO'].index[0]

Timestamp('2024-12-23 00:00:00')

In [49]:
df['QRVO']

Date
2015-01-02    70.400002
2015-01-05    67.629997
2015-01-06    64.669998
2015-01-07    66.650002
2015-01-08    67.690002
                ...
2025-01-16    73.589996
2025-01-17    84.209999
2025-01-21    87.580002
2025-01-22    87.089996
2025-01-23    90.570000
Name: QRVO, Length: 2530, dtype: float64

In [52]:
pd.date_range(start, removed[removed.Ticker == 'QRVO'].index[0], freq='B')

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2024-12-10', '2024-12-11', '2024-12-12', '2024-12-13',
               '2024-12-16', '2024-12-17', '2024-12-18', '2024-12-19',
               '2024-12-20', '2024-12-23'],
              dtype='datetime64[ns]', length=2603, freq='B')

In [62]:
df['QRVO'] = df['QRVO'].reindex(pd.date_range(start, removed[removed.Ticker == 'QRVO'].index[0], freq='B'))
df['QRVO']

Date
2015-01-02    70.400002
2015-01-05    67.629997
2015-01-06    64.669998
2015-01-07    66.650002
2015-01-08    67.690002
                ...
2025-01-16          NaN
2025-01-17          NaN
2025-01-21          NaN
2025-01-22          NaN
2025-01-23          NaN
Name: QRVO, Length: 2530, dtype: float64

In [68]:
df['AOS']

Date
2015-01-02    23.956100
2015-01-05    23.536945
2015-01-06    23.344475
2015-01-07    23.515560
2015-01-08    24.127190
                ...
2025-01-16    71.400002
2025-01-17    71.809998
2025-01-21    72.690002
2025-01-22    70.970001
2025-01-23    71.269997
Name: AOS, Length: 2530, dtype: float64

In [71]:
overall[overall.Symbol=='AOS']

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916

In [79]:
pd.to_datetime(overall[overall.Symbol=='AOS']['Date added'])

1   2017-07-26
Name: Date added, dtype: datetime64[ns]

In [80]:
pd.date_range(overall[overall.Symbol=='AOS']['Date added'], end, freq='B')

TypeError: Cannot convert input [1   2017-07-26
Name: Date added, dtype: datetime64[ns]] of type <class 'pandas.core.series.Series'> to Timestamp

In [41]:
df.head()

Ticker,A,AA,AAL,AAP,AAPL,ABBV,ABMD,ABNB,ABT,ACE,...,XOM,XRAY,XRX,XYL,YHOO,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,37.353016,36.027798,51.079914,141.844177,24.347172,43.156208,NaN,NaN,36.915024,NaN,...,60.042515,46.824909,19.897354,33.545528,NaN,43.035698,100.930534,77.430000,22.049475,40.157520
2015-01-05,36.653103,33.940548,51.051491,139.974518,23.661276,42.344040,NaN,NaN,36.923248,NaN,...,58.399658,46.500290,19.463232,31.457741,NaN,42.161312,104.695587,76.339996,21.223295,39.916454
2015-01-06,36.082127,34.190113,50.255589,139.876129,23.663504,42.134449,NaN,NaN,36.503933,NaN,...,58.089184,45.923210,19.202765,31.272741,NaN,41.643822,103.808113,75.790001,20.412716,39.527027
2015-01-07,36.561001,35.074921,50.227154,142.881836,23.995314,43.837399,NaN,NaN,36.799919,NaN,...,58.677773,47.113441,19.448759,31.519405,NaN,43.023808,106.389885,77.720001,20.607573,40.342976
2015-01-08,37.656921,36.073174,50.843044,144.134323,24.917269,44.295856,NaN,NaN,37.556309,NaN,...,59.654472,48.276615,19.984186,31.757254,NaN,43.773285,107.519386,79.379997,20.895945,40.964191

In [42]:
df.tail()

Ticker,A,AA,AAL,AAP,AAPL,ABBV,ABMD,ABNB,ABT,ACE,...,XOM,XRAY,XRX,XYL,YHOO,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2025-01-16,144.720001,38.910000,18.290001,45.730000,228.259995,173.699997,NaN,132.160004,113.910004,NaN,...,111.320000,18.440001,9.00,118.949997,NaN,126.239998,108.940002,402.720001,57.279999,168.859512
2025-01-17,147.360001,39.529999,18.270000,45.910000,229.979996,171.559998,NaN,135.119995,113.480003,NaN,...,112.320000,18.770000,9.34,119.660004,NaN,125.320000,109.559998,405.709991,58.040001,165.389999
2025-01-21,152.570007,38.610001,18.639999,46.180000,222.639999,172.610001,NaN,133.070007,116.790001,NaN,...,111.470001,18.959999,9.49,121.919998,NaN,125.699997,110.519997,418.070007,59.029999,167.529999
2025-01-22,152.600006,38.779999,18.660000,46.480000,223.830002,169.199997,NaN,132.500000,117.779999,NaN,...,109.529999,19.360001,9.38,121.639999,NaN,126.220001,109.720001,420.570007,58.090000,166.630005
2025-01-23,152.449997,37.349998,17.030001,47.369999,223.660004,170.669998,NaN,133.240005,123.220001,NaN,...,110.150002,19.440001,9.84,121.580002,NaN,127.010002,111.010002,421.109985,58.020000,166.960007

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2530 entries, 2015-01-02 to 2025-01-23
Columns: 708 entries, A to ZTS
dtypes: float64(708)
memory usage: 13.7 MB

In [ ]:
ret = df.pct_change()
ret

In [ ]:
mth_ret = (ret + 1).resample('M').prod()
mth_ret

In [ ]:
mth_12 = mth_ret.rolling(12).apply(np.prod).dropna()
mth_12

In [ ]:
# Selecting the top 5 performers for each 12 month rolling period
top_perf = mth_12.iloc[0].nlargest(5)
top_perf

In [ ]:
mth_ret.loc[top_perf.name:][1:2]

In [ ]:
relevent_ret = mth_ret.loc[top_perf.name:][1:2][top_perf.index]
relevent_ret

In [ ]:
relevent_mean = relevent_ret.mean(axis=1)
relevent_mean